:root {
  --pur-black: #000000;
  --black: #252529;
  --white: #ffffff;
  --white-bg: #f5f5f7;
  --ornaments-bg: #212124;
  --toast-info-bg: rgba(66, 66, 66, 0.92);
  --deep-gray: #595959;
  --link-hover: rgba(255, 255, 255, 0.17);
  --border-light: #dde7ee;
  --light-gray: #ebebeb;

  // ## Task colors ## //
  --red: #d92424;
  --purple: #9f8fef;
  --yellow: #efd01e;
  --yellow-gold: #f1c40f;
  --blue: #2457ff;
  --gray: #a8aab6;
  --olive-green: #27ae60;
  --green-minth: #7ed321;
  --turquoise: #1abc9c;
  --fuschia-pink: #e91e63;

  // ## Difficulties colors ## //
  --moderate-text: #0f0052;
  --moderate-bg: #d6e9ff;

  --trivial-text: #356835;
  --trivial-bg: #dfffd6;

  --simple-text: #8b8000;
  --simple-bg: #fff9d6;

  --complex-text: #8b4500;
  --complex-bg: #ffe8d6;

  --hard-text: #8b0000;
  --hard-bg: #ffd6d6;

  --default-bg: #e7e2f7;

  // ## Tag colors ## //

  --red-pastel-bg: #f8d7d7;
  --red-pastel-text: #d92424;

  --purple-pastel-bg: #e6e0f9;
  --purple-pastel-text: #4729de;

  --yellow-pastel-bg: #fdf6cc;
  --yellow-pastel-text: #efd01e;

  --yellow-gold-pastel-bg: #f9e7b6;
  --yellow-gold-pastel-text: #f1c40f;

  --blue-pastel-bg: #d7e5ff;
  --blue-pastel-text: #2457ff;

  --gray-pastel-bg: #f2f3f7;
  --gray-pastel-text: #a8aab6;

  --olive-green-pastel-bg: #d9f0e1;
  --olive-green-pastel-text: #27ae60;

  --green-minth-pastel-bg: #e4f7d7;
  --green-minth-pastel-text: #7ed321;

  --turquoise-pastel-bg: #d8f5f2;
  --turquoise-pastel-text: #1abc9c;

  --fuschia-pink-pastel-bg: #fad4e2;
  --fuschia-pink-pastel-text: #e91e63;
}
