/* -------------------- Fonts ---------------------*/

@use "@styles/_fonts" as font;

/* ------------------ Containers ------------------*/

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
}

main {
  margin-top: 74px; // Margin pour la barre de navigation
}

/* -------------------- Texts ---------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
