/* -------------------- Responsive ---------------------*/

@media (max-width: 768px) {
  .home {
    margin-top: 8rem;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 769px) {
  .home {
    margin-top: 10rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* -------------------- Code ---------------------*/

// ### Page ### //
.home {
  display: grid;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  padding: 3rem;
  gap: 1.5rem;

  // ### TItre ### //
  h1 {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 500;
  }
}
