/* -------------------- Responsive ---------------------*/

@media (max-width: 768px) {
  .errorCode {
    font-size: 6rem;
  }

  .errorMessage {
    font-size: 1.2rem;
  }

  .homeButton {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

/* -------------------- Code ---------------------*/

// ### Page ### //
.errorPage {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--gray);
  padding: 20px;
  text-align: center;

  // ### Modale ### //
  .errorContainer {
    background: var(--light-background);
    border: 2px solid var(--border);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    // ### Code erreur ### //
    .errorCode {
      font-size: 8rem;
      font-weight: 700;
      color: var(--error-color);
    }

    // ### Message erreur ### //
    .errorMessage {
      font-size: 1.5rem;
      margin: 20px 0;
    }

    // ### Go back button ### //
    .homeButton {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 1rem;
      font-weight: 600;
      color: #ffffff;
      background-color: var(--primary-color);
      border: none;
      border-radius: 4px;
      text-decoration: none;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--secondary-color);
      }
    }
  }
}
