/* ------------------ Containers ------------------*/

.container-sign {
    border: 2px solid var(--white);
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80vw;
    max-width: 800px;
    min-height: 450px;
    transform: translate(-50%, -50%);
  }
  
  .container-sign .container-left-section {
    background-color: var(--background-sign);
    padding: 3rem;
    padding-left: 2vw;
    width: 100%;
    padding-right: 0;
    justify-content: space-around;
    gap: 3rem;
    width: 50%;
  }
  
  .container-left-section .container-logo {
    gap: 1rem;
    align-items: center;
  }
  
  .container-left-section .container-content {
    gap: 1rem;
  }
  
  .container-right-section fieldset {
    border: none;
    padding: 0;
  }
  
  .container-sign .container-right-section {
    padding: 3rem 1.5rem;
    width: 50%;
    padding-left: 0;
    padding-right: 2vw;
    background-color: var(--white);
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
  }
  
  .container-right-section .container-form {
    gap: 1rem;
    width: 90%;
  }
  
  /* ------------------ Texts ------------------*/
  
  .container-left-section .container-logo h5 {
    text-transform: uppercase;
    color: var(--white);
  }
  
  .container-left-section .container-logo h5 span {
    color: var(--cyan);
  }
  
  .container-left-section .container-content h2 {
    text-transform: uppercase;
    color: var(--white);
    font-weight: 600;
    text-align: center;
  }
  
  .container-left-section .container-content p {
    color: var(--grey);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
  }
  
  .container-right-section .container-header-form h1 {
    font-size: 24px;
    font-weight: 800;
  }
  
  .container-right-section .container-header-form h2 {
    font-size: 14px;
    font-weight: 400;
    color: var(--grey);
    margin-top: 0.5rem;
  }
  
  .container-form .password {
    text-decoration: underline;
    color: var(--grey);
    font-size: 12px;
    margin: 0.5rem 0;
  }
  
  .container-form .error-message {
    color: var(--error-code);
    font-size: 12px;
    margin: 0.2rem;
    text-align: left;
    margin-bottom: -0.5rem;
  }
  
  /* ------------------ Images ------------------*/
  
  .container-left-section .container-logo img {
    width: 2rem;
    object-fit: contain;
    border-radius: 999px;
  }
  
  /* ------------------ Buttons ------------------*/
  
  .button-sign-white {
    color: var(--white);
    border: 2px solid var(--white);
  }
  
  .button-sign {
    border-radius: 999px;
    width: fit-content;
    margin-top: 1rem;
    outline: none;
    padding: 0.3rem 3rem;
    text-transform: uppercase;
    font-weight: 600;
    align-self: center;
    font-family: "Poppins";
    font-size: 14px;
    background-color: transparent;
  }
  
  .button-sign-black {
    border: 2px solid var(--background-sign);
    color: var(--background-sign);
  }
  
  .button-sign-white:focus {
    background-color: var(--white);
    color: var(--background-sign);
  }
  
  .button-sign-black:focus {
    background-color: var(--background-sign);
    color: var(--white);
  }
  
  .button-sign:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.5s ease;
  }
  
  .button-sign:not(:hover) {
    cursor: pointer;
    transform: scale(1);
    transition: 0.5s ease;
  }
  
  /* ------------------ Inputs ------------------*/
  
  .container-form input {
    background-color: var(--background-inputs-form);
    border: none;
    border: 1px solid transparent;
    outline: none;
    padding: 0.6rem 1.5rem;
    border-radius: 5px;
    font-size: 12px;
  }
  
  .container-form input:focus {
    outline: 1px solid var(--background-sign);
  }
  
  /* ------------------ Others ------------------*/
  
  .separation-sign {
    width: 0;
    height: 0;
    border-style: solid;
    margin: 0 -1px;
    border-width: 500px 6.8vw 0 0;
    border-color: var(--background-sign) var(--white) transparent transparent;
  }